{% extends "base.html" %}
{% block firsttitle %} About CourSEarcher{% endblock %}
{% block mainbody %}
<dev class="container">
	<div class="row">
	<div class="col-sm-1" style="font-size:25px; margin:20px"><a href="/">Home</a></div>
		<h1>CourSEarcher</h1>
	</div>
	<div class="col-sm-1" style="margin-left:30px"></div>
	<div class="col-sm-8">
<p> This project is made from the resources from respective site's and their xml sitemap.
	Hence no rights owned. Neither have I scanned any of the robots.txt file.

	<br>
	I have developed this project with the help of - <br>
	<ul>
		<em>
		<li>Python</li>
		<li>Google App Engine</li>
		<li>Jinja2</li>
		<li>Udacity Intro to Computer Science</li>
		<li>Udacity Web Developemnt</li>
		<li>Google Search Api</li>
		<li>Bootstrap</li>
	</em>
	</ul>
	<br>
	More to come
	<em>
	<ol>
		<li>Search in more than one domains.</li>
		<li>A better Sorted result.</li>
		<li>Coursera Api</li>
		<li>Udacity Indexing </li>
	</ol>
	</em>
</p>
</div>
</div>
{% endblock %}